<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bet_Response_Pro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bet_Response_Pro.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href = "~/css/sidenavbar.css" />
    <link rel="stylesheet" href = "~/css/topnavbar.css" />
    <link rel="stylesheet" href = "~/css/maincontent.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-5">
            <div class="container-fluid">
                <div class = "topNavBar">
                    <div class="menu" onclick="openNav()">&#9776</div>
                    <h1>Standby Connect</h1>
                </div>
            </div>
        </nav>
    </header>
    <div class = "sideNavBar" id="sideNavBar">
        <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <br>
            <br>
            <br>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </div>
    <div class = "mainContent" id="main">
        <div>
            @RenderBody()
        </div>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="~/scripts/burgerMenu.js"></script>