@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bet_Response_Pro.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>

<div class = "mt-5">
    <div class="container-fluid col-11">
        <div class = "row">
            <div class = "col">
                <div class="card unresolvedStatus">
                    <div class="card-body">
                        <h5 class="card-title">Unresolved: </h5>
                        <p class="card-text">1</p>
                    </div>
                </div>
            </div>
            <div class = "col">
                <div class="card resolvedStatus">
                    <div class="card-body">
                        <h5 class="card-title">Resolved: </h5>
                        <p class="card-text">5</p>
                    </div>
                </div>
            </div>
            <div class = "col">
                <div class="card callingStatus">
                    <div class="card-body">
                        <h5 class="card-title">Calling: </h5>
                        <p class="card-text">2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class= "mt-5">
    <div class = "container-fluid col-11">
        <div class="row">
            <div class = "col">
                <div class="card teamcard">
                    <div class="card-body">
                        <h5 class="card-title">Team 1</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class = "col">
                <div class="card teamcard">
                    <div class="card-body">
                        <h5 class="card-title">Team 2</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class = "col">
                <div class="card teamcard">
                    <div class="card-body">
                        <h5 class="card-title">Team 3</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class = "col">
                <div class="card teamcard">
                    <div class="card-body">
                        <h5 class="card-title">Team 4</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>